<?xml version="1.0" encoding="UTF-8"?>
<config>
	<Output url="results_test_krishan_study_Norefit2.root" />
	<!-- WITHOUT a <TrackFinder> node, use MC (perfect) TrackFinding -->

	<SiRasterizer active="true" r="0.01" phi="0.004090615" />

	<TrackFitter constB="false" display="false" noMaterialEffects="false" off="false" refitSi="false">
		<KalmanFitterRefTrack MaxFailedHits="1" DebugLvl="0" />
		<Vertex sigmaXY="1" sigmaZ="15" includeInFit="true" />
		
		<!-- for MC only -->
		<Hits sigmaXY="0.01" useFCM="true" />
	</TrackFitter>
</config>
